<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
        font-family: cursive;
        }
    a{
            font-size: 20px;
            color: brown;
            padding: 10px;
    }
    footer{
        position: absolute;
        top: 90%;
    }
    #delete{
        display: flex;
    }
    
    </style>
    <title>Realizar pedido por ID</title>
</head>
<body>
    <h1>Realizar Pedido: </B></h1>
    <a href="listarCliente.ejs">Consultar lista de clientes</a>
    <div id="delete">
        <form id="formulario" action="/dadosPedido" method="post">
            <fieldset>
                <label>Insira o ID do cliente: </label><br>
                <input type="text" name="id"><br>
                <label>Produto:</label><br>
                <input type="text" name="produto" /><br>
                <label>Valor:</label><br>
                <input type="text" name="valor" /><br>
                <label>Status: </label><br>
                <select name="status">
                    <option value="Em andamento">Em andamento</option>
                    <option value="Concluído">Concluído</option>
                    <option value="Cancelado">Cancelado</option>
                  </select>
                <input type="submit" name="Enviar">
            </fieldset>
        </form>
    </div>
    <footer>
        <a href="menuPedido.html">Retornar para o menu de clientes</a>
    </footer>
</body>
</html>
