<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      footer {
        position: absolute;
        top: 90%;
      }
      body {
        font-family: cursive;
      }
      h1 {
        font-size: 35px;
      }

      a {
        font-size: 20px;
        color: brown;
      }
      #cadastro {
        width: 320px;
        height: 270px;
      }
      #formulario input {
        display: flex;
      }
    </style>
    <title>Cadastro</title>
  </head>
  <body>
    <div>
      <h1>Cadastrar Pedido</h1>
      <div id="cadastro">
        <form id="formulario" action="/dadosPedido" method="post">
          <fieldset>
            <label>Produto:</label>
            <input type="text" name="produto" /><br />
            <label>Valor:</label>
            <input type="text" name="valor" /><br />
            <label>Status: </label>
            <input type="text" name="status" /><br />
            <input type="submit" value="Enviar" />
          </fieldset>
        </form>
      </div>
    </div>

    <footer>
      <a href="menuPedido.html">Retornar para o Menu de pedidos</a>
    </footer>
  </body>
</html>
