<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        footer{
            position: absolute;
            top: 90%;
        }
        body{
            font-family: cursive;
        }
        h1{
            font-size: 35px;
        }
        
        a{
            font-size: 20px;
            color: brown;
        }
        #cadastro{
            width: 320px;
            height: 270px;
        }
        #formulario input{
            display: flex;
        }

    </style>
    <title>Cadastro</title>
</head>
<body>

    <div>
        <h1>Cadastrar Cliente</h1>
        <div id="cadastro">
            <form id="formulario" action="/dados" method="post">
                <fieldset>
                    <label>Nome:</label>
                    <input type="text" name="nome"><br>
                    <label>CPF:</label>
                    <input type="text" name="cpf"><br>
                    <label>telefone: </label>
                    <input type="text" name="telefone"><br>
                    <label>E-mail:</label>
                    <input type="text" name="email"><br>
                    <input type="submit" value="Enviar">
                </fieldset>
              </form>
        </div>
    </div>
    
    <footer><a href="menuCliente.html">Retornar para o Menu de clientes</a></footer>

</body>
</html>